<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-full bg-zinc-900 p-10 text-white ">
        <div class="nav mb-10">
            <a class="text-blue-500" href="/read">read users</a>
        </div>
        <h1 class="text-3 tracking-tighter mb-3">Update User</h1>
        <form action="/update/<%= user._id %>" method="post">
            <input type="text" name="name" class="px-5 py-2 outline-none bg-transparent border-zinc-800 border-2 rounded" value="<%= user.name %>" placeholder="name">
            <input type="text" name="email" class="px-5 py-2 outline-none bg-transparent border-zinc-800 border-2 rounded" value="<%= user.email %>"  placeholder="email">
            <input type="text" name="image" class="px-5 py-2 outline-none bg-transparent border-zinc-800 border-2 rounded" value="<%= user.image %>"  placeholder="image">
            <input type="submit" value="Update User" class="px-5 cursor-pointer py-2 bg-blue-500 rounded-lg ml-3">
        </form>
    </div>
</body>
</html>